/* default CSS reset */
/* reference: https://meyerweb.com/eric/tools/css/reset/ */
/* ========================================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ========================================================================= */
/* mobile 1st */

header{
    text-align: center;
    font-weight: italic;
    font-weight: bolder;
    padding-top: 45px;
}
header:hover {
    border:transparent;
}
.navMenu {
    border-color: red;
    border-style: double;
}
#nav-bar {
    position: fixed;
    border-color: transparent;
    border-radius: 25%;
    
}
.dropDown {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.dropContent {
    display: flex;
    padding-left: 85px;
    flex-direction: row;
    color: rgb(180, 89, 180);
    justify-content: space-evenly;

}
.dropContent:hover {
    background-color: purple;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dropbtn:hover .dropContent {display: block;color:rgb(86, 150, 86);align-content: space-around;background-color:white;font-size:55px;border-radius: 10%;border-color: violet;border-bottom: yellow;}
.dropbtn:hover .navItem {
    background-color: cornsilk;
    border-top-style: solid;
    font-size: 55px;
    width: 80px;
    height: 60px;
}
#photographer:hover {
    display: block;
    width: 200px;
}
#venue:hover {
    display: block;
    width: 200px;
}
#dress:hover {
    display: block;
    width: 200px;
}
#church:hover {
    display: block;
    width: 200px;
}
.login {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    width: 60px;
    height: 40px;
    text-align: center;
    object-position: center;
    border-radius: 20%;
    border-color:pink;
    border-top: pink;
    border-bottom: transparent;
    padding-right: 30px;
    margin-left: 385px;
    margin-top: 8px;
    padding-top: 25px;
    padding-bottom: 50px;
}
.login:hover {
    width: 80px;
    height: 60px;
}
#title {
    font-size: 75px;
    border-block-style: dotted;
    border-color: black;
    color: rgb(231, 188, 188);
    text-align: center;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-line: underline;
    text-decoration-color: rgb(247, 237, 181);
    text-shadow: black;

} 
main {
    padding-top: 25px;

}
table, th, td {
    border: 3px;
    border-color: white;
    border-style: double;
    background-color: rgb(230, 103, 103);
}
.haveU:hover {
    color: purple;
    font-weight: bolder;
    font-size: larger;
}
.cardGroup1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction:row;
    flex-wrap: wrap;
}
.card {
    width: 250px;
    height: 250px;
    margin: 2em;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    position:relative;
    cursor: pointer;
    transition:  all .4s;
}
.card:hover {
    color: white;
}
.card::before, .card::after {
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/laJollaPier.jpg");
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
    transition: all .4s;
}
.card::after {
    background: purple;
    transform-origin: right center;
    transform: translate(10%, 10%)scale(0.3);
    border-radius: 30%;
    transition: all .4s;
}
.card:hover::after {
    transform: translate(0) scale(1);
    border-radius: 0;
    border-radius: 10px;
}
.card:hover::before {
    transform-origin: right bottom;
    transform: translate(10%, 10%) scale(0.3);
    border-radius: 50%;
    z-index: 1;
}
.card-item {
    flex-direction: row;
}
.container1 { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    object-fit: cover;
}
.container2 {
    display: flex;
    width: 100%;
    border-style: double;
    border-color: lime;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    object-fit: cover;
}
.container3 {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 5px;
    object-fit: cover;
}
.container4 { 
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 5px;
    object-fit: fill;
}
.card-style {
    background-color: transparent;
    width: 310px;
    height: 210px;
    border-radius: 35%;
}
.card-title {
    color: white;
}
.card-text {
    color: white;
}
.links-color {
    color: white;
}
#venueX {
    width: 250px;
    height: 200px;
    object-fit: cover;
}
#dress {
    width: 250px;
    height: 200px;
    object-fit: cover;
}
#church {
    width: 250px;
    height: 200px;
    object-fit: cover;
}
#venue-1 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 35%;
}
#venue-2 {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 35%;
}
#venue-3 {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 35%;
}
body {
   background-color: white;
 
}
#celebrate {
  font-weight: bold;
  font-style: italic;
  font-family: cursive;  
  width: 325px;
  height: 115px;
  font-size: larger;
  text-align: center;
  border-color: rgb(238, 255, 0);
  background: pink;
  border-radius: 40%;
  margin:  auto;
  padding-top: 5px;
  padding-left: 217px;
  padding-right: 217px;
  opacity: 0.7;
}
h1 {
    color: black;
    font-style: italic;
}
h1:hover {
    font-size: x-large;
    color: blueviolet;
}
#church1 {

   width:250px;
   height: 200px; 
   object-fit: cover;
}

#vestido-button {
    border-radius: 25%;
    width: 200px;
    opacity: 0.9;
    
}
#salon {
    text-align: center;
    border-radius: 10%;
    background: turquoise;
    height: 150px;
    width: 375px;
    font-style: italic;
}
/*
#dress { 
  text-align: right;
 
  font-weight: bold; 
  font-style: italic;  
  color:rgb(164, 164, 224);
  width: 400px;
  height: 290px;
  background-image: url();
  border-radius: 25%;
  border-color: gold;
  border-style: dotted;
  margin: auto;
  padding: 2%;  
}
*/
#dress-image {
    width: 300px;
    height: 300px;
    border-radius: 35%;
}
#hair {
    text-align: center;
    font-style: italic;
    border-radius: 1%;
    border-style: dotted;
    width: 250px;
    height: 175px;
    background: pink;
}
.flowers {
    float: right;
    font-style: italic;
     text-align: center;
    font-style: italic;
    border-radius: 1%;
    border-style: dotted;
    width: 250px;
    height: 175px;
    background: orange;
} 
#decorations {
    font-style: italic;
    text-align: center;
    border-radius: 20%;
    border-style: dotted;
    width: 300px;
    height: 200px;
    background: url("https://www.labanquets.com/galleries/glenoaks/Glenoaks%20Ballroom%20by%20LA%20Banquets%20Wedding%20Venuesin%20Los%20Angeles%20and%20Banquet%20Halls%20in%20Glendale%20CA(05).jpg");
    float: left;
}
#camera-image {
     width: 300px;
    height: 200px;
    border-radius: 35%;
    float: right;
}
.photo {
    text-align: center;
     text-align: center;
    font-style: italic;
    border-radius: 1%;
    border-style: dotted;
    width: 250px;
    height: 175px;
    background: green;
}
#church-well {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 35%;
    
}
#venue-well {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 35%;
}
.locations {
    float: right;
    text-align: center;
    display: flex;
    border-style: dotted;
    font-style: italic;
    border-radius: 1%;
    width: 250px;
    height: 175px;
    background: pink;
}
footer {
    float:  bottom;
}
.navMenu {
    display: flex;
    flex-direction: row;
    border-color: red;
    border-style: double;
}

/* ========================================================================= */
/* Services List */

.service {
    display: inline-block;
    width: 35%;
}

.service-logo {
    font-size: xx-large;
    color: #BBB;
}

h2.service-description {
    color: white;
    font-size: xx-large;
}

.test2 {
    color: white;
    display: inline;
}


